<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
    <div class="p-5 text-center font-weight-bold">
        <h3>Pup Friendly Places</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="tm-article-carousel">
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">SpringHill Suites, CA</h3>
                            </header>
                            <p>SpringHill Suites is ranked number two thanks to being “A Little Extra" and "A
                                Lot Less Ordinary.” Operated by Marriott, the chain invites four-legged guests
                                to enjoy the “suite life” at more than 100 locations in the United States.
                                Suites are often bigger than comparably priced rooms and are great for dogs who
                                like to stretch out after a day of exploring. SpringHill Suites’ pet policy
                                varies by location, but select pet-friendly properties provide amenities like
                                treats, bowls, and grassy space with waste stations.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Get More Info.</a>
                        </div>
                    </article>
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-02.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">Ritzy Canine Carriage House - New
                                    York, New York</h3>
                            </header>
                            <p>The Ritzy Canine Carriage House rivals New York City's swankiest hotels, but, of
                                course, this one is designed just for pets. A pet owner can pay up to $50 a
                                night for their pooch to stay here. The Ritzy Canine Carriage House features a
                                rooftop play area with a garden and a waterfall. At night, dogs can stay in a
                                regular suite or the "Presidential Suite," which has a bed, toy chest, and
                                television. When not playing on the roof, guests can spend time in the indoor
                                play area or at the spa. Their other option is to browse the gift shop, where
                                they can peruse pet items, from dog prom dresses to designer dog carriers.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">View Detail</a>
                        </div>
                    </article>
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/ohio.jpeg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">The Barkley - Orange Village, Ohio
                                </h3>
                            </header>
                            <p>At The Barkley Pet Hotel and Day Spa, overnight guests can choose from several
                                different styles of accommodations. Along with their standard suites, dogs can
                                stay in the Barkley Park Suites, which are situated in a grassy room with a
                                fountain; the Executive Poolside Suites, which overlook the indoor dog pool; or
                                the Director's Suite, which, for $88 a night, provides 160 square feet of
                                private space, leather furniture and Hollywood decor. During the day, dogs can
                                enjoy activities like an ice cream social, a pool party, a trip to McDonald's,
                                or a phone call to their owner. Feline friends can sign up to stay in Kitty City
                                which provides each cat a private, multi-level condominium with windows
                                overlooking The Barkley's tropical fish tank. There's no doubt that all the
                                animals will feel comfortable and relaxed during their stay (except maybe this
                                fish).</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Info.</a>
                        </div>
                    </article>
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/fortWorth.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">Spa Paws Hotel - Fort Worth, Texas
                                </h3>
                            </header>
                            <p>Dog owners shell out up to $200 per night for their dog to stay in Fort Worth's
                                Spa Paws Hotel, which, according to their owner, is "the only hotel in America
                                like this." Spa Paws uses holistic techniques to pamper their furry guests with
                                24 hour care. Along with the basic services and amenities like filtered air,
                                custom bedding and nightly tuck-ins, dogs can also order room service items like
                                fillet mignon or get dressed up for a professional photo shoot. Spa Paws not
                                only acts as a hotel, but also hosts canine weddings, birthday parties and
                                memorial services.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Detail Info.</a>
                        </div>
                    </article>
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/chicago.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">A Modern Dog Hotel- Chicago, IL
                                </h3>
                            </header>
                            <p>Stay: A Modern Dog Hotel costs $75 a night for a stay in one of their 160 square
                                foot, all glass dog suites. The suite includes: bedding, a toy chest, wall art
                                and fresh flowers. Along with the extravagant rooming, dogs can stay in top
                                shape at the hotel. For $5, they can enjoy a supervised 10 minute jog on a
                                treadmill. On warmer days, dogs can go on a 30-minute nature walk in Horner Park
                                by the river, for $20. And for $25, dogs can take a 20- minute swim in the
                                hotel's custom made dog lap-pool. Dogs wear a life vest and work directly with a
                                trainer to ensure optimum safety during their work out. According to their
                                website, this one-of-a-kind experience "utilizes buoyancy and resistance to
                                provide your dog low impact exercise with great results."</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Read More</a>
                        </div>
                    </article>
                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/newJersey.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">Best Friends Pet hotel - Berlin,
                                    NJ</h3>
                            </header>
                            <p>If your family is headed to Walt Disney World, look no further than Best Friends
                                Pet Care — a facility right on the theme park's property. Dogs have unlimited
                                access to patios during the day, and VIP luxury suites come with a flat panel
                                television programmed for your dog, a private play yard, a personal pet
                                concierge and a raised platform bed. Oh, and of course, your dog will receive a
                                bed time story each night.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                        </div>
                    </article>
                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/washington.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">Olde Towne Pet Resort -
                                    Washington, DC</h3>
                            </header>
                            <p>The $9 million Olde Towne Pet Resort has three locations throughout the
                                Washington D.C. region and includes a spa that offers mud bath treatments and
                                blueberry facials (uh, can we go?), a heated swimming pool for exercise and
                                therapy, and an air filtration system that delivers fresh air to your pup from
                                the outdoors every three to four seconds. Luxury suites are 50 square feet and
                                include the option to provide a TV with familiar images and sounds for your dog
                                — and, naturally, pet cams let you peek at your pooch whenever you want.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                        </div>
                    </article>
                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/santaMonica.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">Fitdog Sports Club - Santa Monica,
                                    CA</h3>
                            </header>
                            <p>Two words that will be music to your dog's ears: Beach excursions. Canines
                                staying at the coastal Fitdog Sports Club in Santa Monica are entertained at the
                                the sunny beaches and hiking trails of Southern California. But coming back to
                                the resort will be just as glorious for your pup: Amenities include cooling pet
                                beds for fluffy dogs, puzzle playtime (hey, even Pooch needs to work his
                                noggin'), treadmill workouts, full-service grooming and mini bar service.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                        </div>
                    </article>
                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/losAngeles.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">D Pet Hotels - Los Angeles, CA
                                </h3>
                            </header>
                            <p>Part of a chain that includes locations in Chelsea, Scottsdale, Hollywood and
                                soon Austin, the Los Angeles branch of D Pet Hotels has all the luxury the brand
                                is known for. Pictured here is the Winston Suite, which comes with an à la carte
                                menu and 65" flat screen TV. Certain packages involve a Netflix and Chill
                                session — aka munching on sirloin steak with a canine friend — and the bed is
                                outfitted with a memory foam mattress and Ralph Lauren sheets. Pets can be
                                picked up from your home and taken to the hotel in your choice of a Ferrari,
                                Lamborghini Gallardo, Bentley, Porsche or Rolls-Royce.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                        </div>
                    </article>
                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/albuquerque.jpg" alt="Image" class="img-fluid">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">K9 Resorts Luxury Pet Hotel-
                                    Albuquerque, NM</h3>
                            </header>
                            <p>K9 Resorts Luxury Pet Hotel is honored to have been rated the top pet care
                                franchise in the nation by the IBPSA. Our luxury pet resorts have been referred
                                to as the best pet service providers by New Jersey Monthly Magazine, Monmouth
                                Health & Life Magazine, New Jersey Monthly Magazine, The Courier News, and
                                Suburban Essex Magazine. Our team of pet care professionals takes the time to
                                understand the individual needs of our guests and you can trust us to take the
                                time to accommodate your dog’s needs as you see fit.
                            </p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
                <div class="tm-bg-white">
                    <div class="tm-bg-primary tm-sidebar-pad">
                        <h3 class="tm-color-white tm-sidebar-title">Top 4</h3>
                        <p class="tm-color-white tm-margin-b-0 tm-font-light">These are the top 4 most booked
                            places for you and your pup to vacation</p>
                    </div>
                    <div class="tm-sidebar-pad-2">
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/washingtonTN.jpg" alt="Image">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Washington, DC
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/chicagoTN.jpg" alt="Image">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Chicago, IL
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/fortWorthTN.jpg" alt="Image">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Fort Worth, TX
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/santaMonicaTN.jpg" alt="Image">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Santa Monica,
                                    CA
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>